@media (prefers-color-scheme: light) {
    body {
        background-color: #ffff;
        color: #0cb8b6;
    }

    .card {
        background-color: rgba(238, 238, 238, 0.771);
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color:  #121212;
        color: #ffff;
    }

    img {
        filter: brightness(.8) contrast(1.2);
    }

    .card {
        background-color: rgba(40, 40, 40, 0.742);
    }

}
html {
    margin: 0 auto;
    max-width: 900px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

p , a {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #F48024;
    text-decoration: none;
}

a:hover, a:active {
    color: #f87000;
    text-decoration: underline;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    padding: 30px;
    max-width: 300px;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

.leaflet-container {
    max-width: 850px;
    height: 300px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;

}